h1{
    text-align: center;
    font-size: 30px;
}

p{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    height: 60px;
}

footer{
    background-color: rgb(26, 26, 26);
    height: 60px;
    margin-top: 10px;
    color: white;
}

nav a{
    width: 10%;
    padding: 10px;
    background-color: green;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
}